
    <!-- sidebar start -->
    <div class="sidebar sticky">
            <div itemscope itemtype="http://schema.org/Person">
                <div class="author__avatar">
                    <img src="{{asset "images/author.jpeg"}}" class="author__avatar" alt="{{> "social/blog_author"}}"                     itemprop="image">
                </div>
                <div class="author__content">
                    <h3 class="author__name" itemprop="name">{{> "social/blog_author"}}</h3>
                    <p class="author__bio" itemprop="description">
                        I am a Desktop Engineer, with a penchant for scripting, automation, and even some development.<br /><br />The
                        views expressed herein are my own and do not represent the views of my employer.
                    </p>
                </div>
                <div class="author__urls-wrapper">
                    <button class="btn btn--inverse">Follow</button>
                    <ul class="author__urls social-icons">
                        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
                            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">{{> "social/location"}}</span>
                        </li>
                        <li>
                            <a href="https://keybase.io/{{> "social/keybase"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-key" aria-hidden="true"></i> Keybase
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{> "social/twitter"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/{{> "social/linkedin"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/{{> "social/github"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.stackoverflow.com/users/{{> "social/stackoverflow"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow
                            </a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/user/{{> "social/reddit"}}" itemprop="sameAs">
                                <i class="fa fa-fw fa-reddit" aria-hidden="true"></i> Reddit
                            </a>
                        </li>
                        <!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
                    </ul>
                </div>
            </div>
        </div> 
        <!-- end sidebard -->