{{!< default}} 
{{! insert everything in this file into the body tag of default.hbs }} 
<!-- index -->
  <div class="archive">

    <h1 class="page__title"></h1>
    <h3 class="archive__subtitle">Recent Posts</h3>

    {{> "loop" }}


  </div>