{{!< default}} 
{{! insert everything in this file into the body tag of default.hbs }} 
<!-- index -->
  <div class="archive">

    <h1 class="page__title"></h1>
    <h3 class="archive__subtitle">Recent Posts</h3>

    {{> "loop" }}

<!--
    <nav class="pagination">
      <ul>
        <li><a href="#" class="disabled"><span aria-hidden="true">Previous</span></a></li>
        <li><a href="#" class="disabled current">1</a></li>
        <li><a href="https://randombrainworks.com/page2/">2</a></li>
        <li><a href="https://randombrainworks.com/page2/">Next</a></li>
      </ul>
    </nav>
-->
  </div>